<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'users_posts' %>
      <% else %>
        <%= render 'feed' %>
      <% end %>
      <%= render 'random_post' %>
    </div>
  </div>
</section>
